.slider-container {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    gap: 10px;
}

.slider {
    width: 760px;
    height: 260px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.slides {
    display: flex;
    width: 400%; 
    animation: slide 12s infinite;
}

.slide {
    width: 100%;
    height: 260px;
    flex-shrink: 0;
    overflow: hidden;
}

.slide img {
    width: 760px !important;
    height: 100% !important;
    display: block;
    object-fit: cover;
}

@keyframes slide {
    0%   { transform: translateX(0); }
    20%  { transform: translateX(0); }

    25%  { transform: translateX(-100%); }
    45%  { transform: translateX(-100%); }

    50%  { transform: translateX(-200%); }
    70%  { transform: translateX(-200%); }

    75%  { transform: translateX(-300%); }
    100% { transform: translateX(-300%); }
}

.side-images {
    width: 30%;
    display: flex;
    flex-direction: column;
    object-fit: contain;
    gap: 10px;
}

.side-img {
    width: 100%;
    height: 125px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}
/* ______________________________________________________________________________________ */
.muc-luc {
    width: 100%;
    max-width: 1200px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 18px;
}
.muc-luc-item
{
    background: white;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    padding: 22px 10px;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    border: 1px solid #eee;
}

    .muc-luc-item:hover {
        transform: translateY(-4px);
        box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    }

.muc-luc-title {
    font-size: 15px;
    font-weight: 600;
    color: #333;
    text-align: center;
}
/*_______________________________________________________________________________________________*/
