.Foo {
    width: 100%;
    background: #959494;
    padding: 30px 0;
    font-family: Arial, sans-serif;
}


.Foo table {
    margin: 0 auto;
    text-align: center;
    width: 80%;
    border-collapse: collapse;
    color: #333;
}


.footer-menu td {
    padding: 10px 25px;     
    font-weight: bold;
    white-space: nowrap;
    border-right: 1px solid #999;
}


.footer-menu td:last-child {
    border-right: none;
}


.footer-logos {
    text-align: center;
}

.footer-logos td {
    padding: 10px 20px;
    font-weight: bold;
}
.footer-logos td {
    padding: 10px 30px; 
}

.footer-info {
    padding: 8px 0;
    font-size: 16px;
    color: #444;
}

.footer-copy {
    padding-top: 18px;
    font-size: 14px;
    color: #666;
}


.Foo tr {
    height: 32px;
}