.header-wrapper {
    width: 100%;
    padding: 10px 20px;
    background-color: #ff5722;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header-left .logo {
    font-size: 26px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}


.search-box {
    width: 500px;
    display: flex;
    margin: 0 20px;
    background: white;
    border-radius: 5px;
    overflow: hidden;
}

.search-box input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
}

.search-box button {
    background: #6d1900;
    color: white;
    border: none;
    width: 70px;
    cursor: pointer;
}

.header-right {
    display: flex;
    align-items: center;
    padding-right: 10px;
    gap: 20px;
    white-space: nowrap;
    flex-shrink: 1;       /* Cho phép co lại */
    max-width: 35%;       /* Không chiếm quá 35% màn hình */
    overflow: hidden;     /* Không để tràn */
}

.header-right a {
    color: white;
    text-decoration: none;
}

.menu-btn {
    background: transparent;
    border: none;
    font-size: 26px;
    cursor: pointer;
    color: white;
}

.side-menu {
    position: fixed;
    top: 0;
    right: -25%;         
    width: 300px;        
    height: 100%;
    background: #ffffff;
    box-shadow: -2px 0 5px rgba(0,0,0,0.2);
    transition: right 0.3s ease;
    padding: 20px;
    z-index: 1000;
}

.side-menu ul {
    list-style: none;
    padding: 0;
}

.side-menu ul li {
    margin: 15px 0;
}

.side-menu ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
}

.close-btn {
    background: none;
    border: none;
    font-size: 32px;
    cursor: pointer;
    float: right;
}