<form asp-controller="Cart" asp-action="Checkout" method="post">
    <button class="checkout-btn">Đặt tất cả sản phẩm</button>
</form>

<style>
.checkout-btn {
    background: green; color:white; padding:12px; 
    margin-top: 25px; border-radius: 5px; cursor: pointer;
}
</style>