
@{
    ViewData["footer"] = "footer";
}
    <div class="Foo">
        <table>
            <tr class="footer-menu">
                <td>Chính sách bảo mật</td> 
                <td>Quy chế hoạt động</td> 
                <td>Chính sách vận chuyển</td> 
                <td>Chính sách trả hàng và hoàn tiền</td>
            </tr>
            <tr class="footer-logos">
                <td><img src="~/Img/logoss.jpg" class="product-img" asp-append-version="true" /></td>
                <td><img src="~/Img/logoip.jpg" class="product-img" asp-append-version="true" /></td>
                <td><img src="~/Img/logomsi.jpg" class="product-img" asp-append-version="true" /></td>
                <td><img src="~/Img/huaweilog.jpg" class="product-img" asp-append-version="true" /></td>
            </tr>
            <tr><td colspan="4" class="footer-info">Địa chỉ:  Tầng 4-5-6, Tòa nhà Capital Place, số 29 đường Liễu Giai, Phường Ngọc Hà, Thành phố Hà Nội, Việt Nam</td></tr>
            <tr><td colspan="4" class="footer-info">Chăm sóc khách hàng:  Gọi tổng đài của chúng tôi (miễn phí) hoặc Trò chuyện với chúng tôi ngay trên Trung tâm trợ giúp</td></tr>
            <tr><td colspan="4" class="footer-info">Người chịu trách nhiệm quản lý nội dung: Phạm Quốc Dung</td></tr>
            <tr><td colspan="4" class="footer-info">Mã số doanh nghiệp: 0106773786 do Sở Kế hoạch và Đầu tư TP Hà Nội cấp lần đầu ngày 10/02/2015</td></tr>
            <tr><td colspan="4" class="footer-copy">@@2025: Bản quyền thuộc về tôi. Người chưa mua bản quyền</td></tr>
        </table>
    </div>