
@{
    ViewData["footer"] = "footer";
}
    <div class="Foo">
        <table>
            <tr class="footer-menu">
                <td>Chính sách bảo mật</td> 
                <td>Quy chế hoạt động</td> 
                <td>Chính sách vận chuyển</td> 
                <td>Chính sách trả hàng và hoàn tiền</td>
            </tr>
            <tr class="footer-logos">
                <td>Logo 1</td>
                <td>Logo 2</td>
                <td>Logo 3</td>
                <td>Logo 4</td>
            </tr>
            <tr><td colspan="4" class="footer-info">Địa chỉ:</td></tr>
            <tr><td colspan="4" class="footer-info">Chăm sóc khách hàng: </td></tr>
            <tr><td colspan="4" class="footer-info">Người chịu trách nhiệm quản lý nội dung: </td></tr>
            <tr><td colspan="4" class="footer-info">Mã số doanh nghiệp: </td></tr>
            <tr><td colspan="4" class="footer-copy">@@2025: Bản quyền thuộc về tôi. Người chưa mua bản quyền</td></tr>
        </table>
    </div>